.flex-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.flex-column {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: top;
}

.normal-dark-btn {
    background-color: var(--dark-background-color);
    border: none;
    cursor: pointer;
    color: white;
    &:focus {
        background-color: var(--dark-background-color-hover);
    }
    &:hover {
        background-color: var(--dark-background-color-hover);
    }
}

.p-button-text:focus,
.p-sidebar-icon:focus,
.p-sidebar-close:focus,
.p-link:focus {
    box-shadow: none !important;
    // outline: 0 !important;
    // border-color: none !important;
}

.customDatePicker {
    .p-datepicker-trigger{
        background-color:var(--red-background-color) !important;
        border-color:var(--red-background-color) !important;   
    }
    .p-inputtext:enabled {
        outline: 0;
        box-shadow: none;
        border-color: none;
        border: none;
        border-bottom: 2px solid black;
        border-radius: 0;
        &:focus,
        &:hover{
            border: none;
            border-bottom: 2px solid black;
        }
    }
}


.customAutocomplete {
    .p-autocomplete-multiple{  
        .p-autocomplete-multiple-container {
            outline: 0;
            box-shadow: none;
            border-color: none;
            border: none;
            border-bottom: 2px solid black;
            border-radius: 0;

            display: flex;
            align-items: flex-start;
            flex-wrap: wrap;

            .p-autocomplete-token {
                background-color:rgb(228, 150, 144);
                width: auto;
                margin: 5px 2px;
                color: black;
                .p-autocomplete-token-icon{
                    display: flex;
                    flex-direction: row;                    
                    align-items: center;
                    justify-content: flex-end;
                    width: 20px;
                }
            }            
        }
  }
  .p-autocomplete{
      .p-autocomplete-input{
        outline: 0;
        box-shadow: none;
        border-color: none;
        border: none;
        border-bottom: 2px solid black;
        border-radius: 0;
          
    }
  }
}

.customFileUpload{             
    .p-fileupload-buttonbar{
        border: none !important;
        border-color: white !important;
        
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content:center;

        span{
            background-color: var(--red-background-color) !important;
            border-color: var(--red-background-color) !important;
            width: 80%;            
            height: 40px;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: flex-start;            
        }
        
        button{
            display: none !important;
            // background-color: var(--red-background-color) !important;
            // border-color: var(--red-background-color) !important;
            // width: 33%;
            // height: 40px;
            // display: flex;
            // flex-direction: row;
            // align-items: center;
            // justify-content: center;
        }
    }

    .p-fileupload-content{
        .p-fileupload-row  {
            div .p-button-icon-only{
                background-color: var(--red-background-color) !important;
                border-color: var(--red-background-color) !important;
            }           
            
        }
        
    }
  }

.allTasks 
{
  .p-dataview 
  {
    .p-dataview-header{
        overflow-x: visible !important;
        // background-color: #f5d0cf !important;
        // border-radius: 25px 25px 0px 0px;
        // background: linear-gradient(
        //     135deg,
        //     rgba(221, 57, 16, 0.849),
        //     rgba(230, 112, 2, 0.87)
        // );
        border: none;

        background: linear-gradient(-45deg, #313131, #525d69, #c22a1f, #bd244a);
	    background-size: 400% 400%;
	    animation: gradient 15s ease infinite;
	    // height: 100vh;
      }

      @keyframes gradient {
        0% {
            background-position: 0% 50%;
        }
        50% {
            background-position: 100% 50%;
        }
        100% {
            background-position: 0% 50%;
        }
    }

  }
}


  
  